@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,500&display=swap');

.header {
    background-image: url('../images/fondoheaderanimal.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(87, 155, 90, 0.7);
    width: 100%;
    height: 200px;
    text-align: center;
}

.header img {
    width: 200px;
    margin-top: 40px;
}

.card {
    margin: 30px;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    object-position: 0 -200px;
}

.btn-primary {
    background-color: #6EAD80;
    border: none;
}

.btn-primary:hover {
    background-color: #627850;
}

.hometext {
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

.hometitle {
    font-family: 'Fredoka One', cursive;
}

.intro {
    margin: 30px;
}

.formfooter {
    background-color: #6EAD80;
}

.formwrapper {
    margin: 0 30px 30px 30px;
}

.titlecont {
    display: flex;
    flex-direction: row;
}