.header {
    background-image: url('../images/fondoheaderanimal.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(87, 155, 90, 0.7);
    width: 100%;
    height: 200px;
    text-align: center;
}

.header img {
    width: 200px;
    margin-top: 40px;
}

.contenido {
    margin-top: 30px;
}